canvas {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

a {
	text-decoration: none !important;
}

.flash-message-text {
	display: inline-block;
	&::first-letter {
		text-transform: capitalize;
	}
}

.flash-message-icon {
	margin-right: 5px;
}

.chat-messages {
	height: 300px;
	overflow-y: scroll;
}

.semi-transparent {
	opacity: 0.5;
}

.panel-title {
	i.is-closed {
		display: none;
	}
	.collapsed {
		i.is-open {
			display: none;
		}
		i.is-closed {
			display: inline;
		}
	}
}