/* line 1, ../sass/style.scss */
body {
  padding-top: 70px;
}

/* line 5, ../sass/style.scss */
canvas {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

/* line 16, ../sass/style.scss */
a {
  text-decoration: none !important;
}

/* line 20, ../sass/style.scss */
.form-horizontal .control-label {
  padding-top: 5px;
  text-align: left;
}

/* line 25, ../sass/style.scss */
.semi-transparent {
  opacity: 0.5;
}

/* line 29, ../sass/style.scss */
.clickable {
  cursor: pointer;
}

/* line 33, ../sass/style.scss */
.flash-message-text {
  display: inline-block;
}
/* line 35, ../sass/style.scss */
.flash-message-text::first-letter {
  text-transform: capitalize;
}

/* line 40, ../sass/style.scss */
.flash-message-icon {
  margin-right: 5px;
}

/* line 44, ../sass/style.scss */
.chat-messages {
  height: 300px;
  overflow-y: scroll;
}

/* line 49, ../sass/style.scss */
.label.label-as-badge {
  display: inline-block;
}

/* line 54, ../sass/style.scss */
.panel-heading h3.panel-title {
  font-size: 20px;
}

/* line 60, ../sass/style.scss */
.panel-title .label.label-as-badge {
  padding: .2em .6em .1em;
}
/* line 63, ../sass/style.scss */
.panel-title i.is-closed {
  display: none;
}
/* line 67, ../sass/style.scss */
.panel-title .collapsed i.is-open {
  display: none;
}
/* line 70, ../sass/style.scss */
.panel-title .collapsed i.is-closed {
  display: inline;
}

/* line 76, ../sass/style.scss */
.panel-body {
  max-height: 450px;
  overflow-y: auto;
}

/* line 81, ../sass/style.scss */
.close-panel {
  padding-top: 5px;
}
