<div class="panel">
	<div class="panel-heading">
		<h3>Chat</h3>
	</div>
	<div class="panel-body">
		<div class="well well-sm chat-messages" id="chat-messages" data-bind="foreach: messages">
			<div>
				<span class="semi-transparent badge" data-bind="text: formattedTime, attr: {title: formattedDate}"></span>
				<span class="semi-transparent" data-bind="text: sender"></span>
				<!-- ko if: recipient -->
				to <span class="text-info" data-bind="text: recipient().name"></span>
				<!-- /ko -->
				:
				<span data-bind="text: text"></span>
			</div>
		</div>
		<textarea class="form-control input-sm" data-bind="textInput : newMessage().text, event: {keypress: onEnter}"></textarea>
	</div>

	<div class="panel-footer">
		<div class="row">
			<div class="col-sm-8">
				<div data-bind="if: selectedUser">
					Talking to: <span data-bind="text: selectedUser().name"></span>
				</div>
			</div>
			<div class="col-sm-4">
				<button class="btn btn-default btn-block" data-bind="click: onSubmit">Submit</button>
			</div>
		</div>
	</div>
</div>