<!-- ko if: flashMessages().length -->
	<h3>Messages <span class="badge" data-bind="text: flashMessages().length"></span></h3>
	<!-- TODO show/hide messages, messages total vs. messages visible -->
<!-- /ko -->
<!-- ko foreach: flashMessages -->
	<!-- ko if: isVisible-->
		<div class="alert" data-bind="css: 'alert-' + type()">
			<i class="glyphicon glyphicon-comment flash-message-icon"></i>
			<span class="flash-message-text" data-bind="text: text"></span>
			<span class="pull-right">
				<span class="semi-transparent" data-bind="text: formattedTime, attr: {title: formattedDate}"></span>
				<a href="#" data-bind="click: $parent.hideFlashMessage" title="hide message">
					<i class="glyphicon glyphicon-eye-close" data-bind="css: 'text-' + type()"></i>
				</a>
				<a href="#" data-bind="click: $parent.removeFlashMessage" title="delete message">
					<i class="glyphicon glyphicon-remove" data-bind="css: 'text-' + type()"></i>
				</a>
			</span>
		</div>
	<!-- /ko -->
<!-- /ko -->