<!-- ko if: isActive -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Users List
			<span class="badge" data-bind="text: connectedUsers().length"></span>
			<small class="pull-right close-panel">
				<a class="glyphicon glyphicon-remove" href="#" data-bind="click: deactivateUsersList" title="close panel"></a>
			</small>
		</h3>
	</div>
	<div class="panel-body">
		<div class="panel-group" id="users-list" data-bind="foreach: connectedUsers">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<strong data-bind="if: $data === $parent.selectedUser()">@</strong>
						<span data-bind="text: name, click: $parent.toggleSelectUser" class="clickable"></span>
						<!-- ko if: $parent.thisIsMe($data) -->
						<span class="glyphicon glyphicon-user" title="that's you!"></span>
						<!-- /ko -->
						<a href="#" class="pull-right collapsed" data-toggle="collapse" data-parent="#users-list" data-bind="attr: {href: '#user-' + $index()}">
							<i class="is-closed glyphicon glyphicon-chevron-right"></i>
							<i class="is-open glyphicon glyphicon-chevron-down"></i>
						</a>
					</h4>
				</div>
				<div class="panel-collapse collapse" data-bind="attr: {id: 'user-' + $index()}">
					<div class="panel-body">
						<div data-bind="text: email"></div>
						<div data-bind="text: _id"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer text-right">
		<button class="btn btn-default" data-bind="click: deactivateUsersList">Close</button>
	</div>
</div>
<!-- /ko -->